<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Cindrella</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.plyr.io/3.6.4/plyr.css" />
    
  </head>
  <body>
  % extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Notes</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
  </div>
</form>
{% endblock %}


  <video
        id="plyr"
        data-poster="cover.jpg"
        
        
        <source
          src="https://storage.googleapis.com/13464d7a9887/b38/3a40a6c7821bbb146cebe363306a1ede.mp4"
          
        />
       
</video>


<!-- Plyr resources and browser polyfills are specified in the pen settings -->

<script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
<script src="script.js"></script>
  </body>
</html>
